# Ignore tout le contenu du dossier WordPress
/wordpress/*

# Garde les fichiers de configuration, comme entrypoint.sh
!/wordpress/.gitkeep
!/wordpress/entrypoint.sh
!/wordpress/wp-config.php

# Garde wp-content et ses sous-dossiers
!/wordpress/wp-content/
!/wordpress/wp-content/themes/
!/wordpress/wp-content/plugins/

# Ignore les uploads (dossier de contenu dynamique)
wordpress/wp-content/uploads/

# Ignore les autres caches et logs
/wordpress/wp-content/cache/
/wordpress/wp-content/upgrade/
/wordpress/wp-content/backups/
/wordpress/wp-content/languages/

# Si tu veux ignorer les logs et tmp (pour éviter les fichiers temporaires)
wordpress/wp-content/*.log
wordpress/wp-content/tmp/

.env
.idea